
body{
	overflow-x: hidden;
}

.navbar{
	background:#192a56;
}

.navbar .nav-link{
	font-size: 14px;
	text-transform: uppercase;
	padding-left: 1rem !important;
	padding-right: 1rem;
}

.carousel-item{
	height: 450px;
}
.carousel-image-1{
	background:url('../img/image1.jpg');
	background-size: cover; 
}
.carousel-image-2{
	background:url('../img/image2.jpg');
	background-size: cover; 
}
.carousel-image-3{
	background:url('../img/image3.jpg');
	background-size: cover; 
}


#ready{
	background:url('../img/lights.jpg');
	min-height: 200px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	color: white;
	text-align: center;
}

#ready .dark-overlay{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.7);  
}


#video{
	background:url('../img/media.jpg');
	min-height: 200px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	color: white;
	text-align: center;
	background-position: 0 -300px; 
}

#video .dark-overlay{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.7);  
}
#video a{
	color: white;
}


#main-footer{
	background-color:#192a56;
}

/*about section*/
#about-section{
	height: 250px;
	background:url("../img/image1.jpg");
	background-position: 0 -360px;
	background-attachment: fixed;
	color: white;
	border-bottom: 1px white;
	padding-top: 50px;
	text-align: center;
}

.about-img{
	margin-top: -80px;
}

#NewsLetter{
	height: 250px;
	background:url("../img/image1.jpg");
	background-position: 0 -360px;
	background-attachment: fixed;
	color: white;
	border-bottom: 1px white;
	padding-top: 50px;
	text-align: center;
}

#testinomials{
	background:url('../img/lights.jpg');
	min-height: 200px;
	background-attachment: fixed;
	text-align: center;
}
#testinomials .blockquote-footer{
	color:yellow;
}
